* {
    padding: 0;
    margin: 0;
}

body {
    background-color: blueviolet;
}


/* .container {
    color: blue;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 60px 0px violet;
} */