@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

html {
    font-size: large;
    background-color: black;
}

.h1 {
    position: center;
    color: aliceblue;
}

.center {
    text-align: center;
}

.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}


/* 
.center {
    text-align: center;
    padding: 5em;
    text-align: center;
    display: inline-block;
    text-decoration: none !important;
    margin: 4 auto;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
} */

.friends {
    text-align: center;
    padding: 2em;
    margin: 2;
}

.inner {
    width: 35vw;
    background-image: url(./friendsposter.jpg);
    padding: 2rem 8rem;
    border-radius: 1rem;
}

.inner h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 4rem 3 4 3rem 3;
}

.inner li {
    font-size: 0.9rem;
    margin-top: 0.8rem;
    list-style: none;
}

input {
    cursor: pointer;
}

#submit,
.btn {
    padding: 1rem 1.8rem;
    outline: none;
    font-size: 1rem;
    font-size: 200;
    display: block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    color: antiquewhite;
    background-color: #000000;
    margin-top: 3rem;
    cursor: pointer;
}

#submit:hover {
    background-color: black;
}

#submit {
    background: black;
    background-image: -webkit-linear-gradient(top, black, black);
    background-image: -moz-linear-gradient(top, black, black);
    background-image: -ms-linear-gradient(top, black, black);
    background-image: -o-linear-gradient(top, black, black);
    background-image: linear-gradient(to bottom, black, black);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#submit:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#showScore {
    background-color: #a7b6bd;
    margin-top: 2rem;
    padding: 1 rem 3rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

#showScore h3 {
    text-align: center;
    font-size: 2rem;
}

#showScore .btn {
    margin-top: 2rem;
    background-color: green;
    color: #2d3436;
}

#showScore .btn:hover {
    background-color: rgb(21, 190, 21);
}

.scoreArea {
    display: none;
}